<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-flag-icons"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/v-flag-icons/css/rectangular.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="button">
                <div class="img-container">
                    <a href=""><img src="img/boolflix-logo.svg" alt=""></a>
                </div>
                <input type="text" v-model="textToSearch" placeholder="Cerca un film o serie TV">
                <button @click="doSearch">Cerca</button>
            </div>
            <div class="film-container">
                <div class="wrapper">
                    <div class="card" v-for="element  in mergedList">
                        <img class="poster" :src="getImages(element)" :alt="element.title">

                        <div class="overlay">
                            <!-- Titolo -->
                            <div class="title">
                                <span class="description">{{element.title}}</span>
                            </div>

                            <!-- Titolo originale -->
                            <div v-if="element.title !== element.original_title" class="title">
                                Titolo Originale: <span class="description">{{element.original_title}}</span>
                            </div>

                            <!-- Lingua originale -->
                            <div class="title">Lingua originale -
                                <span class="description">
                                    "{{element.original_language}}"
                                    <template v-if='element.original_language != "en"'>
                                        <vf-icon :country="element.original_language" />
                                    </template>
                                    <template v-else>
                                        <vf-icon country="gb" />
                                    </template>
                                </span>
                            </div>

                            <!-- Voto -->
                            <div class="title">
                                Voto -
                                <span>
                                    {{element.vote_average}}
                                    <i v-for="stars in fullVoteStar(element.vote_average)" class="fa fa-star stellina"
                                        aria-hidden="true"></i><i class="fa fa-star-o stellina" aria-hidden="true"
                                        v-for="stars in emptyVoteStar(element.vote_average)"></i>
                                </span>
                            </div>

                            <!-- generi -->
                            <div class="title">Generi :
                                <span class="description">
                                    {{element.genre_ids.join(", ") }}
                                </span>
                            </div>

                            <!-- trama -->
                            <div v-if="element.overview != ''" class="title">Overview:
                                <span class="description overview">{{ element.overview }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>